---
import MySiteLayout from "../layouts/MainLayout.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Experiences from "../components/Experiences.astro";
import data from "../data/me_en.json";

---
<MySiteLayout domain={data.profile.domain} title="Home Page"   cvFile={data.profile.cvFile}>
  <div class="grid grid-cols-1 md:grid-cols-6 p-2 md:p-0">
    <div class="w-full col-span-4 md:pr-2">
      <AboutMe data={data.profile} />
      <Experiences title="Experience work" data={data.experience} />
    </div>
    <div class="col-span-2 md:pl-2">
      <Projects title="Personal Projects" data={data.projects} />
    </div>
  </div>
</MySiteLayout>
